

body, .jumbotron {
  background: url("../../Images/Skybackground.jpg");
  height: 100%;
   width: 100%;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
  background-color: #ddfffc;
}

.card {
background-color: rgba(211, 211, 211, 0.5);
margin: 20px;

} 

#map-container{
  width: 100%;
  height: 350px;
}

#map{
  width: 100%;
  height: 100%;
}